/** Typography styles **/
h1,
h2,
h3.inline-richtext,
.h0,
.h1,
.h2,
.h3,
.h4,
.hxl,
.badge,
.button,
.jdgm-rev-widg__title {
  @apply twcss-font-bold !important;
}

/** Navigation **/

.header__inline-menu .link {
  font-size: 1.6rem !important;
}

@media (min-width: 750px) {
  .modal__content {
    background-color: transparent !important;
  }
}

.header__icons svg path {
  fill: #000 !important;
}

/** Accordion **/
.h4.accordion__title {
  font-size: 1.75rem;
}

.h4.accordion__title,
.accordion__content {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  padding: 0px !important;
}
